{% extends "gallery-driveways.twig" %}

{% block gallerygrid %}
  <ul id="theGallery" class="uk-child-width-1-4@m" uk-grid uk-lightbox="animation: slide">
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-08.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-08-400x284.jpg" alt="steps 18" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-06.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-06-400x284.jpg" alt="steps 14" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-P-02.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-P-02-400x284.jpg" alt="steps 03" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-07.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-07-400x284.jpg" alt="steps 15" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-P-01.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-P-01-400x284.jpg" alt="steps 04" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-04.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-04-400x284.jpg" alt="steps 07" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-P-04-e1475965366477.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-P-04-e1475965366477-400x284.jpg" alt="steps 01" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-01.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-01-400x284.jpg" alt="steps 05"  uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-09.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-09-400x284.jpg" alt="steps 17" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-10.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-10-400x284.jpg" alt="steps 23" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-22.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-22-400x284.jpg" alt="steps 26" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-23.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-23-400x284.jpg" alt="steps 27" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-17.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-17-400x284.jpg" alt="steps 21" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-12.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-12-400x284.jpg" alt="steps 09" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-16.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-16-400x284.jpg" alt="steps 24" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-18.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-18-400x284.jpg" alt="steps 22"  uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-21.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-21-400x284.jpg" alt="steps 13" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-13.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-13-400x284.jpg" alt="steps 10" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-L-15.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-L-15-400x284.jpg" alt="steps 16" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Step-P-03.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Step-P-03-400x284.jpg" alt="steps 02"  uk-img>
      </a>
    </li>
    
    {% set new_steps_img_1 = '/wp-content/uploads/galleries-extra/steps/new-steps-1.jpg' %}
    {% set new_steps_img_2 = '/wp-content/uploads/galleries-extra/steps/new-steps-2.jpg' %}
    {% set new_steps_img_3 = '/wp-content/uploads/galleries-extra/steps/new-steps-3.jpg' %}
    {% set new_steps_img_4 = '/wp-content/uploads/galleries-extra/steps/new-steps-4.jpg' %}
    {% set new_steps_img_5 = '/wp-content/uploads/galleries-extra/steps/new-steps-5.jpg' %}
    {% set new_steps_img_6 = '/wp-content/uploads/galleries-extra/steps/new-steps-6.jpg' %}
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_steps_img_1}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_steps_img_1|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_steps_img_2}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_steps_img_2|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_steps_img_3}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_steps_img_3|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_steps_img_4}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_steps_img_4|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_steps_img_5}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_steps_img_5|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_steps_img_6}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_steps_img_6|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
  </ul>
{% endblock %}