{% extends "gallery-driveways.twig" %}

{% block gallerygrid %}
  <ul id="theGallery" class="uk-child-width-1-4@m" uk-grid uk-lightbox="animation: slide">
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-06.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-06-400x284.jpg" alt="special features 33" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-04.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-04-400x284.jpg" alt="special features 31" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-08.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-08-400x284.jpg" alt="special features 25" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-15.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-15-400x284.jpg" alt="special features 18" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-08-e1475969457128.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-08-e1475969457128-400x284.jpg" alt="special features 08" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-01.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-01-400x284.jpg" alt="special features 01" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-20.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-20-400x284.jpg" alt="special features 14" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-14.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-14-400x284.jpg" alt="special features 24"  uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-13.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-13-400x284.jpg" alt="special features 19" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-03.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-03-400x284.jpg" alt="special features 03" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-16.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-16-400x284.jpg" alt="special features 17" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-01.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-01-400x284.jpg" alt="special features 27" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-05.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-05-400x284.jpg" alt="special features 32" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-19.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-19-400x284.jpg" alt="special features 26" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-18.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-18-400x284.jpg" alt="special features 28" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-09-e1475969472847.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-09-e1475969472847-400x284.jpg" alt="special features 09"  uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-02.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-02-400x284.jpg" alt="special features 02" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-11-e1475969499492.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-11-e1475969499492-400x284.jpg" alt="special features 11" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-02.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-02-400x284.jpg" alt="special features 29" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-07.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-07-400x284.jpg" alt="special features 22"  uk-img>
      </a>
    </li>
    
    {% set new_spec_img_1 = '/wp-content/uploads/galleries-extra/special/new-special-features-1.jpg' %}
    {% set new_spec_img_2 = '/wp-content/uploads/galleries-extra/special/new-special-features-2.jpg' %}
    {% set new_spec_img_3 = '/wp-content/uploads/galleries-extra/special/new-special-features-3.jpg' %}
    {% set new_spec_img_4 = '/wp-content/uploads/galleries-extra/special/new-special-features-4.jpg' %}
    {% set new_spec_img_5 = '/wp-content/uploads/galleries-extra/special/new-special-features-5.jpg' %}
    {% set new_spec_img_6 = '/wp-content/uploads/galleries-extra/special/new-special-features-6.jpg' %}
    {% set new_spec_img_7 = '/wp-content/uploads/galleries-extra/special/new-special-features-7.jpg' %}
    {% set new_spec_img_8 = '/wp-content/uploads/galleries-extra/special/new-special-features-8.jpg' %}
    {% set new_spec_img_9 = '/wp-content/uploads/galleries-extra/special/new-special-features-9.jpg' %}
    {% set new_spec_img_10 = '/wp-content/uploads/galleries-extra/special/new-special-features-10.jpg' %}
    
    {% set new_spec_img_11 = '/wp-content/uploads/galleries-extra/special/new-special-features-11.jpg' %}
    {% set new_spec_img_12 = '/wp-content/uploads/galleries-extra/special/new-special-features-12.jpg' %}
    {% set new_spec_img_13 = '/wp-content/uploads/galleries-extra/special/new-special-features-13.jpg' %}
    {% set new_spec_img_14 = '/wp-content/uploads/galleries-extra/special/new-special-features-14.jpg' %}
    {% set new_spec_img_15 = '/wp-content/uploads/galleries-extra/special/new-special-features-15.jpg' %}
    {% set new_spec_img_16 = '/wp-content/uploads/galleries-extra/special/new-special-features-16.jpg' %}
    {% set new_spec_img_17 = '/wp-content/uploads/galleries-extra/special/new-special-features-17.jpg' %}
    {% set new_spec_img_18 = '/wp-content/uploads/galleries-extra/special/new-special-features-18.jpg' %}
    {% set new_spec_img_19 = '/wp-content/uploads/galleries-extra/special/new-special-features-19.jpg' %}
    {% set new_spec_img_20 = '/wp-content/uploads/galleries-extra/special/new-special-features-20.jpg' %}
    
    {% set new_spec_img_21 = '/wp-content/uploads/galleries-extra/special/new-special-features-21.jpg' %}
    {% set new_spec_img_22 = '/wp-content/uploads/galleries-extra/special/new-special-features-22.jpg' %}
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_1}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_1|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_2}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_2|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_3}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_3|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_4}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_4|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_5}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_5|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_6}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_6|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_7}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_7|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_8}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_8|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_9}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_9|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_10}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_10|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_11}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_11|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_12}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_12|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_13}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_13|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_14}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_14|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_15}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_15|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_16}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_16|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_17}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_17|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_18}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_18|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_19}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_19|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_20}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_20|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_21}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_21|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_spec_img_22}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_spec_img_22|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
  </ul>
{% endblock %}