{% extends "gallery-driveways.twig" %}

{% block gallerygrid %}
  <ul id="theGallery" class="uk-child-width-1-4@m" uk-grid uk-lightbox="animation: slide">
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-P-12-e1475963410869.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-P-12-e1475963410869-400x284.jpg" alt="patios 10" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-25.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-25-400x284.jpg" alt="patios 20" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-09.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-09-400x284.jpg" alt="patios 35" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-31-e1475963309267.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-31-e1475963309267-400x284.jpg" alt="patios 16" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-14.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-14-400x284.jpg" alt="patios 18" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-P-11-e1475963424116.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-P-11-e1475963424116-400x284.jpg" alt="patios 09" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-P-07-e1475963495823.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-P-07-e1475963495823-400x284.jpg" alt="patios 05" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-08.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-08-400x284.jpg" alt="patios 36"  uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-06.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-06-400x284.jpg" alt="patios 38" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-02.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-02-400x284.jpg" alt="patios 42" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-P-09-e1475963464374.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-P-09-e1475963464374-400x284.jpg" alt="patios 07" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-16.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-16-400x284.jpg" alt="patios 21"  uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-P-17-e1475963328466.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-P-17-e1475963328466-400x284.jpg" alt="patios 15" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-23.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-23-400x284.jpg" alt="patios 28" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-24.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-24-400x284.jpg" alt="patios 22" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-P-13-e1475963398889.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-P-13-e1475963398889-400x284.jpg" alt="patios 11"  uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-P-15-e1475963361162.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-P-15-e1475963361162-400x284.jpg" alt="patios 13" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-04.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-04-400x284.jpg" alt="patios 40" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-20.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-20-400x284.jpg" alt="patios 26" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Patio-L-03.jpg">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Patio-L-03-400x284.jpg" alt="patios 41"  uk-img>
      </a>
    </li>
    
    {% set new_patio_img_1 = '/wp-content/uploads/galleries-extra/patios/new-patios-1.jpg' %}
    {% set new_patio_img_2 = '/wp-content/uploads/galleries-extra/patios/new-patios-2.jpg' %}
    {% set new_patio_img_3 = '/wp-content/uploads/galleries-extra/patios/new-patios-3.jpg' %}
    {% set new_patio_img_4 = '/wp-content/uploads/galleries-extra/patios/new-patios-4.jpg' %}
    {% set new_patio_img_5 = '/wp-content/uploads/galleries-extra/patios/new-patios-5.jpg' %}
    {% set new_patio_img_6 = '/wp-content/uploads/galleries-extra/patios/new-patios-6.jpg' %}
    {% set new_patio_img_7 = '/wp-content/uploads/galleries-extra/patios/new-patios-7.jpg' %}
    {% set new_patio_img_8 = '/wp-content/uploads/galleries-extra/patios/new-patios-8.jpg' %}
    {% set new_patio_img_9 = '/wp-content/uploads/galleries-extra/patios/new-patios-9.jpg' %}
    {% set new_patio_img_10 = '/wp-content/uploads/galleries-extra/patios/new-patios-10.jpg' %}
    
    {% set new_patio_img_11 = '/wp-content/uploads/galleries-extra/patios/new-patios-11.jpg' %}
    {% set new_patio_img_12 = '/wp-content/uploads/galleries-extra/patios/new-patios-12.jpg' %}
    {% set new_patio_img_13 = '/wp-content/uploads/galleries-extra/patios/new-patios-13.jpg' %}
    {% set new_patio_img_14 = '/wp-content/uploads/galleries-extra/patios/new-patios-14.jpg' %}
    {% set new_patio_img_15 = '/wp-content/uploads/galleries-extra/patios/new-patios-15.jpg' %}
    {% set new_patio_img_16 = '/wp-content/uploads/galleries-extra/patios/new-patios-16.jpg' %}
    {% set new_patio_img_17 = '/wp-content/uploads/galleries-extra/patios/new-patios-17.jpg' %}
    {% set new_patio_img_18 = '/wp-content/uploads/galleries-extra/patios/new-patios-18.jpg' %}
    {% set new_patio_img_19 = '/wp-content/uploads/galleries-extra/patios/new-patios-19.jpg' %}
    {% set new_patio_img_20 = '/wp-content/uploads/galleries-extra/patios/new-patios-20.jpg' %}
    
    {% set new_patio_img_21 = '/wp-content/uploads/galleries-extra/patios/new-patios-21.jpg' %}
    {% set new_patio_img_22 = '/wp-content/uploads/galleries-extra/patios/new-patios-22.jpg' %}
    {% set new_patio_img_23 = '/wp-content/uploads/galleries-extra/patios/new-patios-23.jpg' %}
    {% set new_patio_img_24 = '/wp-content/uploads/galleries-extra/patios/new-patios-24.jpg' %}
    {% set new_patio_img_25 = '/wp-content/uploads/galleries-extra/patios/new-patios-25.jpg' %}
    {% set new_patio_img_26 = '/wp-content/uploads/galleries-extra/patios/new-patios-26.jpg' %}
    {% set new_patio_img_27 = '/wp-content/uploads/galleries-extra/patios/new-patios-27.jpg' %}
    {% set new_patio_img_28 = '/wp-content/uploads/galleries-extra/patios/new-patios-28.jpg' %}
    {% set new_patio_img_29 = '/wp-content/uploads/galleries-extra/patios/new-patios-29.jpg' %}
    {% set new_patio_img_30 = '/wp-content/uploads/galleries-extra/patios/new-patios-30.jpg' %}
    
    {% set new_patio_img_31 = '/wp-content/uploads/galleries-extra/patios/new-patios-31.jpg' %}
    {% set new_patio_img_32 = '/wp-content/uploads/galleries-extra/patios/new-patios-32.jpg' %}
    {% set new_patio_img_33 = '/wp-content/uploads/galleries-extra/patios/new-patios-33.jpg' %}
    {% set new_patio_img_34 = '/wp-content/uploads/galleries-extra/patios/new-patios-34.jpg' %}
    {% set new_patio_img_35 = '/wp-content/uploads/galleries-extra/patios/new-patios-35.jpg' %}
    {% set new_patio_img_36 = '/wp-content/uploads/galleries-extra/patios/new-patios-36.jpg' %}
    {% set new_patio_img_37 = '/wp-content/uploads/galleries-extra/patios/new-patios-37.jpg' %}
    {% set new_patio_img_38 = '/wp-content/uploads/galleries-extra/patios/new-patios-38.jpg' %}
    {% set new_patio_img_39 = '/wp-content/uploads/galleries-extra/patios/new-patios-39.jpg' %}
    {% set new_patio_img_40 = '/wp-content/uploads/galleries-extra/patios/new-patios-40.jpg' %}
    
    {% set new_patio_img_41 = '/wp-content/uploads/galleries-extra/patios/new-patios-41.jpg' %}
    {% set new_patio_img_42 = '/wp-content/uploads/galleries-extra/patios/new-patios-42.jpg' %}
    {% set new_patio_img_43 = '/wp-content/uploads/galleries-extra/patios/new-patios-43.jpg' %}
    {% set new_patio_img_44 = '/wp-content/uploads/galleries-extra/patios/new-patios-44.jpg' %}
    {% set new_patio_img_45 = '/wp-content/uploads/galleries-extra/patios/new-patios-45.jpg' %}
    {% set new_patio_img_46 = '/wp-content/uploads/galleries-extra/patios/new-patios-46.jpg' %}
    {% set new_patio_img_47 = '/wp-content/uploads/galleries-extra/patios/new-patios-47.jpg' %}
    {% set new_patio_img_48 = '/wp-content/uploads/galleries-extra/patios/new-patios-48.jpg' %}
    {% set new_patio_img_49 = '/wp-content/uploads/galleries-extra/patios/new-patios-49.jpg' %}
    {% set new_patio_img_50 = '/wp-content/uploads/galleries-extra/patios/new-patios-50.jpg' %}
    
    {% set new_patio_img_51 = '/wp-content/uploads/galleries-extra/patios/new-patios-51.jpg' %}
    {% set new_patio_img_52 = '/wp-content/uploads/galleries-extra/patios/new-patios-52.jpg' %}
    {% set new_patio_img_53 = '/wp-content/uploads/galleries-extra/patios/new-patios-53.jpg' %}
    {% set new_patio_img_54 = '/wp-content/uploads/galleries-extra/patios/new-patios-54.jpg' %}
    {% set new_patio_img_55 = '/wp-content/uploads/galleries-extra/patios/new-patios-55.jpg' %}
    {% set new_patio_img_56 = '/wp-content/uploads/galleries-extra/patios/new-patios-56.jpg' %}
    {% set new_patio_img_57 = '/wp-content/uploads/galleries-extra/patios/new-patios-57.jpg' %}
    {% set new_patio_img_58 = '/wp-content/uploads/galleries-extra/patios/new-patios-58.jpg' %}
    {% set new_patio_img_59 = '/wp-content/uploads/galleries-extra/patios/new-patios-59.jpg' %}
    {% set new_patio_img_60 = '/wp-content/uploads/galleries-extra/patios/new-patios-60.jpg' %}
    
    {% set new_patio_img_61 = '/wp-content/uploads/galleries-extra/patios/new-patios-61.jpg' %}
    {% set new_patio_img_62 = '/wp-content/uploads/galleries-extra/patios/new-patios-62.jpg' %}
    {% set new_patio_img_63 = '/wp-content/uploads/galleries-extra/patios/new-patios-63.jpg' %}
    {% set new_patio_img_64 = '/wp-content/uploads/galleries-extra/patios/new-patios-64.jpg' %}
    {% set new_patio_img_65 = '/wp-content/uploads/galleries-extra/patios/new-patios-65.jpg' %}
    {% set new_patio_img_66 = '/wp-content/uploads/galleries-extra/patios/new-patios-66.jpg' %}
    {% set new_patio_img_67 = '/wp-content/uploads/galleries-extra/patios/new-patios-67.jpg' %}
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_1}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_1|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_2}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_2|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_3}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_3|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_4}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_4|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_5}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_5|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_6}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_6|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_7}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_7|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_8}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_8|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_9}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_9|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_10}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_10|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_11}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_11|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_12}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_12|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_13}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_13|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_14}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_14|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_15}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_15|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_16}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_16|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_17}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_17|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_18}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_18|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_19}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_19|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_20}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_20|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_21}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_21|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_22}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_22|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_23}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_23|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_24}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_24|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_25}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_25|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_26}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_26|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_27}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_27|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_28}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_28|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_29}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_29|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_30}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_30|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_31}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_31|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_32}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_32|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_33}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_33|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_34}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_34|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_35}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_35|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_36}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_36|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_37}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_37|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_38}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_38|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_39}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_39|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_40}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_40|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_41}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_41|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_42}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_42|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_43}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_43|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_44}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_44|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_45}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_45|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_46}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_46|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_47}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_47|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_48}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_48|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_49}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_49|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_50}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_50|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_51}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_51|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_52}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_52|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_53}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_53|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_54}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_54|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_55}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_55|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_56}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_56|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_57}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_57|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_58}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_58|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_59}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_59|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_60}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_60|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_61}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_61|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_62}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_62|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_63}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_63|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_64}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_64|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_65}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_65|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_66}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_66|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="{{new_patio_img_67}}">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="{{new_patio_img_67|resize(400, 284)}}" alt="" uk-img>
      </a>
    </li>
    
  </ul>
{% endblock %}