<!DOCTYPE html>
<html {{site.language_attributes}}>

  <head>
    <meta charset="{{site.charset}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block fonts %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700;800&display=swap" rel="stylesheet">
    {% endblock %}
    
    {{ function('wp_head') }}

    {% block styles %}
    {% endblock %}
    
  </head>

  {% block bodywrap %}
  
    <body class="{{body_class|e('esc_html')}}" data-template="base.twig">

      {% block header %}
        {% include '_header.twig' %}
      {% endblock %}
      
      <main role="main" id="MainContent">
        {% block contentwrap %}
          <section class="content-wrap uk-section">
            <div class="content-container uk-container uk-container-xsmall">
              {% block content %}
                Sorry, nothing to display here...
              {% endblock %}
            </div>
          </section>
        {% endblock %}
      </main>
      
      {% block footer %}
        {% include '_footer.twig' %}
      {% endblock %}

      {% include '_quick-call.twig' %}
      
      {{ function('wp_footer') }}
      
      {% block scripts %}
      {% endblock %}
      
    </body>
  {% endblock %}

</html>